<div class="home-page">
  <div class="container">
    <div class="row-header">
      <div class="col-full">
        <h1>Welcome to Bob's Wishlist Tracker!</h1>
        <h2>Sign up <%= link_to 'here', signup_path %></h2>
      </div>
    </div>
  </div>
</div>