<div class="show-user-page">
  <div class="container">
    <div class="row-header">
      <div class="col-full">
        <h1><%= @user.full_name %></h1>
        <h3><%= @user.email %></h3>
      </div>
    </div>
    <div class="row-controls">
      <div class="col-full">
        <%= link_to 'Find Friends', users_path, :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>