@import "bootstrap";
@import "jquery-ui";
@import "font-awesome";

////// BASIC OVERRIDES /////
h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

h1, h2 {
  text-align: center;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  overflow-y: scroll;
  position: relative;
}

body {
  font-family: sans-serif;
}

////// PAGES /////////

.home-page {
  padding: 20px 0;
}