@import "wl-theme";
@import "bootstrap";
@import "jquery-ui";
@import "font-awesome";

////// BASIC OVERRIDES /////
h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

h1, h2 {
  text-align: center;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  overflow-y: scroll;
  position: relative;
}

body {
  font-family: sans-serif;
}

.field_with_errors {
  @extend .has-error;
}

.alert-notice {
  @extend .alert-warning;
}

.alert-error {
  @extend .alert-danger;
}

//// WL ELEMENTS ////
$header-height: $navbar-height;
$footer-height: 0px;

.wl-body {
  min-height: 100%;
  position: relative;
  background-color: $wl-white;
  color: $wl-dark-gray;
}

.wl-header {
  @extend .navbar;
  @extend .navbar-fixed-top;
  @extend .navbar-default;

  .header-brand {
    @extend .navbar-brand;

    font-weight: 900;
    text-transform: uppercase;
  }
}

.wl-content {
  padding-top: $header-height;
  padding-bottom: $footer-height;
}

.wl-footer {
  position: absolute;
  bottom: 0;
  left: 0;

  height: $footer-height;
  color: $wl-white;
  background-color: $wl-dark-gray;
  width: 100%;

  .footer-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
}

#error-explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.flash-messages {
  padding-top: 20px;
}

.btn-white-on-green {
  @include button-variant($wl-white, $wl-dark-green, darken($wl-dark-green, 5%));
}


/// GENERIC ELEMENTS ///
.col-full {
  @extend .col-xs-12;
}

.btn-primary {
  @include button-variant($wl-white, $wl-primary, darken($wl-primary, 5%));
}

.col-centered-form {
  @extend .col-md-6;
  @extend .col-md-offset-3;
  @extend .col-sm-10;
  @extend .col-sm-offset-1;
  @extend .col-xs-12;
}

.form-centered {
  @extend .form-horizontal;

  .col-form-label {
    @extend .col-xs-12;
  }

  .col-form-input {
    @extend .col-xs-12;
  }

  .col-submit {
    @extend .col-xs-12;

    text-align: center;
  }

  .btn {
  }

  .btn-submit {
    @extend .btn-primary;
  }
}

////// PAGES /////////
.padded-page {
  padding: 20px 0;
}

.row-header {
  @extend .row;
}

.home-page {
  @extend .padded-page;

  background-repeat: no-repeat;
  background-size: cover;

  background-position: 50% 35%;
  background-image: image-url('background-christmas-presents.jpg');

  min-height: 350px;

  color: $wl-dark-green;

  .header-content {
    text-align: center;
    margin-top: 30px;
  }

  h1 {
    font-size: 54px;
  }

  .btn {
    margin-top: 40px;
    font-size: 36px;
    padding: 10px 50px;
  }
}

.signin-page {
  @extend .padded-page;

  .row-form {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .row-note {
    text-align: center;
  }
}

.new-user-page {
  @extend .padded-page;

  .row-form {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .row-note {
    text-align: center;
  }
}

.show-user-page {
  @extend .padded-page;

  h3 {
    text-align: center;
  }

  .row-header {
    @extend .row;
  }

  .row-controls {
    @extend .row;

    text-align: center;
  }

  .row-requests {
    @extend .row;

    .header {
      text-align: center;
      font-size: 22px;
      font-weight: 400;

      margin: 20px 0;
    }

    .friend-request-list {
      list-style: none;
      text-align: center;
      padding: 0;
      margin: 0;

      li {
        padding: 0;
        margin: 0;
      }
    }
  }

  .row-friends {
    @extend .row;

    .header {
      text-align: center;
      font-size: 22px;
      font-weight: 400;

      margin: 20px 0;
    }

    .friend-list {
      list-style: none;
      text-align: center;
      padding: 0;
      margin: 0;

      li {
        padding: 0;
        margin: 0;
      }
    }
  }

  .row-gift-requests {
    @extend .row;

    .header {
      text-align: center;
      font-size: 22px;
      font-weight: 400;

      margin: 20px 0;
    }
  }

  .row-gifts {
    @extend .row;

    .header {
      text-align: center;
      font-size: 22px;
      font-weight: 400;

      margin: 20px 0;
    }
  }

  .gift-list {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;

    li {
      padding: 0 0 10px 0;
      margin: 0;
    }

    .name {
      font-weight: 400;
      font-size: 16px;

      padding: 0;
      margin: 0;
    }

    .buyer {
      font-size: 14px;

      padding: 0;
      margin: 0;
    }

    .description {
      font-size: 14px;

      padding: 0;
      margin: 0;

      font-style: italic;
    }

    .mark_gift_request_purchased {
      font-size: 14px;
    }
  }
}

.users-page {
  @extend .padded-page;

  .row-search {
    @extend .row;

    margin-top: 20px;
    margin-bottom: 20px;
  }

  .col-search {
    @extend .col-md-6;
    @extend .col-md-offset-3;
    @extend .col-sm-8;
    @extend .col-sm-offset-2;
    @extend .col-xs-12;
  }

  .row-user-list {
    @extend .row;
  }

  .col-user-list {
    @extend .col-md-6;
    @extend .col-md-offset-3;
    @extend .col-sm-8;
    @extend .col-sm-offset-2;
    @extend .col-xs-12;
  }

  .user-list {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;

    li {
      padding: 0;
      margin: 0;

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}